* {
    box-sizing: border-box;
}

body {
    margin: 0;
    border: 0;
    overflow: hidden;
}

#naglowek {
    display: block;
    background-image: url("../obrazy/man-1.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

h1 {
    display: inline-block;
    text-align: left;
    position: absolute;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

p {
    font-size: 25px;
}

/* responsywnosc */

@media (max-width:992px) {
    h1 {
        text-align: center;
        clear: both;
        position: absolute;
        top: 100%;
        margin:0;
        background-size: cover;
    }

    #naglowek {
        background-position: top;
        height: 50%;
        background-repeat: no-repeat;
        position: relative;
        top: 0;
        left: 0;
    }
}

/* drugi zakres */

@media (min-width:992px) and (max-width:1170px) {
    h1 {
        text-align: right;
        top: 15%;
        right: 5%;
        color: white;
    }

    #naglowek {
        background-image: url("../obrazy/man-2.jpg");
        background-position: center;
        height: 70%;
    }
}

/* trzeci zakres- największa rozdzielczość */

@media (min-width:1170px) {
    h1 {
        text-align: left;
        color: white;
        top: 25%;
    }

    #naglowek {
        background-position: center;
        background-size: cover;
    }

}