.box {
    width: 300px;
    height: 150px;
    border: 1px solid red;
    margin: 50px;
}

#visible {
    overflow: visible;
    color:green;
}

#hidden {
    overflow: hidden;
    color:orange;
}

#scroll {
    overflow: scroll;
    color: blue;
}

#auto {
    overflow: auto;
    color: darkolivegreen;
}