/* HEADER START */

#main-header {
	background-image: url("../img/header-background.jpg");
	background-size: cover;
	background-position: center;
	height: 500px;
	color: $white;
	display: flex;
	@include center;
}

#main-header .header-caption h2 {
	font-family: $header-font;
	font-size: 2em;
}

#main-header .header-caption h1 {
	font-family: $header-font-h1;
	font-size: 3em;
	margin: 45px 0;
}

/* HEADER - END */