$main-font: "Lato", sans-serif;

$header-font: 'Droid Serif', sans-serif;

$header-font-h1: 'Montserrat', sans-serif;

$bgc: #1ac056;

$bgc-contacts: #213b50;

$bgc-form: #426684;

$body-color: #291f1a;

$black: #000;

$white: #fff;

$about: #f9fcfe;

$mask-color: rgba(42,61,79,0.8);

$footer-color: #142634;